<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>distance Translater</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form action="/post" method="post">
        <p>input meter : <input type="text" name="test">m</p>
        <input type="submit" value="change to yard">
    </form>
</body>
</html>